	body {
		height: 1060px;
		background-image: url(../img/1px.png);
		background-repeat: repeat-x;
		font-family: sans-serif;
	}
	.main {
		position: relative;
		width: 1000px;
		height: 988px;
		margin: auto;
		margin-top: 38px;
		background-color: #ffffff;
		box-shadow: 0 0 20px rgb(10, 10, 10);
		border-bottom: 3px solid black;
	}
	.logo {
		display: inline-block;
		height: 175px;
	}
	.logo img {
		padding-left: 25px;
		padding-top: 10px;
	}
	.contacts {
		position: absolute;
		left: 840px;
		float: right;
		color: #5fa5bb;
		display: inline-block;
		font-size: 12px;
		line-height: 20px;
	}
	.contries {
		float: right;
		position: absolute;
		left: 640px;
		top: 110px;
	}
	#contries li {
		display: inline-block;
	}
	#contries a {
		display: block;
		color: #5fa5bb;
		padding-right: 8px;
		text-align: center;
		font-size: 10px;
	}
	.photo {
		position: absolute;
		top: 175px;
		left: 0px;
		border-top: 1px solid #138aa7;
		border-bottom: 1px solid #138aa7;
	}
	.center_panel {
		position: absolute;
		top:413px;
		background-color: #343434;
		height: 27px;
		width: 100%;
		border-top: 1px solid #cacbcb;
		border-bottom: 1px solid black;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	.text {
		padding-top: 5px;
	}
	ul#text {
		text-align: center;
	}
	#text li {
		display: inline-block;
		position: relative;
	}
	#text a {
		display: block;
		color: #ffffff;
		font-size: 14px;
		text-decoration: none;
		padding-left: 25px;
		padding-right: 35px;
	}
	#dropdown {
		box-shadow: 0px 4px 5px 4px rgba(0,0,0,0.7);  
	}
	#dropdown a  {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 24px;
	}
	#dropdown li {
		padding-left: 0px;
	}
	.text li ul {
	    display: none;
	    padding-top: 8px;
	    padding-right: 29px;
	    padding-bottom: 8px;
	}
	.text li:hover ul {
		position: absolute;
		top: 22px;
		z-index: 2;
	    display: block;
	    background-color: #343434;
 	}
	h3 {
		margin: 0 auto;
	}
	.left_panel {
		left: 0px;
	}
	.right_panel {
		left: 790px;
	}
	.left_panel, .right_panel {
		position: absolute;
		top: 442px;
		width: 210px;
		height: 546px;
		background-color: #edeef0;
		font-size: 14px;
		text-align: center;
		color: #424c43;
		line-height: 24px;
		border-right: 1px solid #c7cacf;
		border-left: 1px solid #c7cacf;
	}
	footer {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	footer p {
		text-align: center;
		color: #ffffff;
	}
	
	
